*{
	margin: 0;
	box-sizing: border-box;
}

th {
  text-align: left;
  border-bottom: 2px solid #ddd;
}
.ageh{
	padding-left: 65px;
	padding-right: 45px;
}
#b{
	padding-left: 65px;
	padding-right: 45px;
}
.emh{
	padding-right: 165px;
	padding-left: 20px;
}
#d{
	padding-right: 165px;
	padding-left: 20px;
}
.deh{
	padding-left: 156px;
}
#f{
	padding-left: 156px;
}
.cgh{
	padding-left: 120px;
}
#g{
	padding-left: 120px;
}